<%- include('header') %>
  <h1><a href='/'>QuoteTyper</a></h1>
  <h2>New Quote</h2>
  <form action='/new-quote' method='POST'>
    Text: <textarea name='new-quote-text' id='new-quote-text' cols='30' rows='6'></textarea><br>
    Author: <input type='text' name='new-quote-author' id='new-quote-author'><br>
    <input type='submit' value='Submit'>
  </form>
<%- include('footer') %>
