<html>
  <head>
    <title>
      <%= title %>
    </title>
  </head>
  <body>
    <h1><a href='/'>QuoteTyper</a></h1>
    <h2>Quotes</h2>
    <% quotes.forEach(function(quote) { %>
    <p><%= quote.text %></p>
    <p>-- <%= quote.author %></p>
    <br>
    <% }) %>
    <div id='nav'>
      <ul id='sitemap'>
        <li><a href='/'>Home</a></li>
        <li><a href='/quotes'>Quotes</a></li>
        <% if (isLoggedIn) { %>
          <li><a href='/logout'>Logout</a></li>
          <li><a href='/profile'>Profile</a></li>
          <li><a href='/new-quote'>New Quote</a></li>
          <li><a href='/test'>Typing Test</a></li>
        <% } else { %>
          <li><a href='/login'>Log In</a> or <a href='/signup'>Sign Up</a></li>
        <% } %>
      </ul>
    </div>

  </body>
</html>
