<%- include('header') %>
  <h1><a href='/'>QuoteTyper</a></h1>
  <h2>Quotes</h2>
  <% quotes.forEach(function(quote) { %>
    <p><%= quote.text %></p>
    <p>-- <%= quote.author %></p>
    <br>
  <% }) %>
<%- include('footer') %>
