<%- include('header') %>
  <h1>QuoteTyper</h1>
  <h2>Typing Test</h2>
  <div id='typing-test-quote-wrapper'>
    <h5 id='typing-test-quote'><%= quote.text %></h5>
  </div>
  <div id='exam-table'>
    <form action='/test' method='POST'>
      <input type='text' name='typingTestInput' id='typing-test-input'>
      <input type='hidden' name='elapsedTime' id='typing-test-timer' value='0'>
      <input type='hidden' name='quoteId' value='<%= quote.id %>'>
      <input type='submit' value='Submit'>
    </form>
  </div>
<%- include('footer') %>
